<div class="container">
  <div class="row" style="width: 100%; height: 80%;">
    <div class="col">
      <img src="{{product.product.metadata.filename}} " alt="" style="width: 70%; height: 70%">
      <h6>{{product.product.name}}</h6>
      <h6>Калории на 100г: {{product.product.calories}}</h6>
      <h6>Масса нетто: {{product.product.weight}}г</h6>
      <h6>Цена: {{product.price}}р</h6>
    </div>
  </div>
  <div class="row mt-5" style="width: 100%; height: 20%;">
    <div class="wth-px" style="width: 33%;">
      <button style="width: 100%; height: 100%" (click)="decrement()">-</button>
    </div>
    <div class="wth-px" style="width: 33%;">
      <input class="form-control text-center" type="number" value="{{count}}">
    </div>
    <div class="wth-px" style="width: 33%;">
      <button style="width: 100%; height: 100%" (click)="increment()">+</button>
    </div>
  </div>
  <div class="row" style="width: 100%;">
    <div class="align-content-center wth-px" style="width: 100%">
      <button style="width: 100%; height: 100%">Купить</button>
    </div>
  </div>
</div>
