<body class="gf-bg-main">
<app-header></app-header>
<main class="gf-bg-main" style="height: 100vh">
  <div style="height: 15vh;"></div>
  <app-account></app-account>
    <section class="container border">
      <form class="py-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Имя</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Имя">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Фамилия</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Фамилия">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Телефон</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Телефон">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitInfo()">Обновить</button>
      </form>
    </section>
</main>
<app-footer></app-footer>
</body>

