<main class="bg-light" style="height: 100vh">
  <div style="height: 15vh;"></div>


  <section class="py-5 text-center container ">
    <h1 class="gf-text-color-main font-weight-bold">Товары</h1>
    <div class=""></div>
    <div class="row my-5 bg-light">

      <div class="col-4">
        <h2 class="py-3">Фильтры</h2>
        <p>
          <button class="btn" type="button" data-toggle="collapse" data-target="#categoryCollapse" aria-expanded="false"
                  aria-controls="categoryCollapse">
            Категории
          </button>
        </p>
        <div class="collapse" id="categoryCollapse">
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 1
            </label>
          </div>
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 2
            </label>
          </div>
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 3
            </label>
          </div>
        </div>
        <p>
          <button class="btn" type="button" data-toggle="collapse" data-target="#priceCollapse" aria-expanded="false"
                  aria-controls="priceCollapse">
            Цена
          </button>
        </p>
        <div class="collapse" id="priceCollapse">
          <b>10р</b> <input
          type="text"
          name="somename"
          data-provide="slider"
          data-slider-min="1"
          data-slider-max="1000"
          data-slider-step="1"
          data-slider-value="3"
          data-slider-tooltip="hide"> <b>1000р</b>
        </div>
      </div>
      <div class="col-8">
        <div class="row py-1">
          <div class="col">
            <app-product-card [product]="{
                  product: {
                    id: 1,
                    metadata: {
                      filename: 'https://images.aif.by/007/645/abd0a9c390a92692126fb313980eebe9.jpg'
                    },
                    name: 'Яйца, 10 шт',
                    description: 'desd',
                    weight: 100,
                    calories: 160
                  },
                  countOfProduct: 100,
                  price: 70,
                  stockStore: null
                }"></app-product-card>
          </div>
          <div class="col">
            <app-product-card [product]="{
                  product: {
                    id: 1,
                    metadata: {
                      filename: 'https://images.aif.by/007/645/abd0a9c390a92692126fb313980eebe9.jpg'
                    },
                    name: 'Яйца, 10 шт',
                    description: 'desd',
                    weight: 100,
                    calories: 160
                  },
                  countOfProduct: 100,
                  price: 70,
                  stockStore: null
                }"></app-product-card>
          </div>
          <div class="col">
            <app-product-card [product]="{
                  product: {
                    id: 1,
                    metadata: {
                      filename: 'https://images.aif.by/007/645/abd0a9c390a92692126fb313980eebe9.jpg'
                    },
                    name: 'Яйца, 10 шт',
                    description: 'desd',
                    weight: 100,
                    calories: 160
                  },
                  countOfProduct: 100,
                  price: 70,
                  stockStore: null
                }"></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
