<app-header></app-header>
<main class="bg-light" style="height: auto">
  <div style="height: 15vh;"></div>


  <section class="py-5 text-center container ">
    <h1 class="gf-text-color-main font-weight-bold">Товары</h1>
    <div class=""></div>
    <div class="row my-5 bg-light">

      <div class="col-4">
        <h2 class="py-3">Фильтры</h2>
        <p>
          <button class="btn" type="button" data-toggle="collapse" data-target="#categoryCollapse" aria-expanded="false"
                  aria-controls="categoryCollapse">
            Категории
          </button>
        </p>
        <div class="collapse" id="categoryCollapse">
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 1
            </label>
          </div>
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 2
            </label>
          </div>
          <div class="card card-body">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="">
              Категория 3
            </label>
          </div>
        </div>
        <p>
          <button class="btn" type="button" data-toggle="collapse" data-target="#priceCollapse" aria-expanded="false"
                  aria-controls="priceCollapse">
            Цена
          </button>
        </p>
        <div class="collapse" id="priceCollapse" [formGroup]="productFilterForm">
          <div>
            <label for="customRange2" class="form-label">Price low: {{productFilterForm.value.priceLow}}</label>
            <br>
            <input type="range" class="form-range" min="0" [max]="productFilterForm.value.priceHigh" id="customRange2" formControlName="priceLow">
          </div>
          <div>
            <label for="customRange" class="form-label">Price high: {{productFilterForm.value.priceHigh}}</label>
            <br>
            <input type="range" class="form-range" [min]="productFilterForm.value.priceLow" max="10000" id="customRange" formControlName="priceHigh">
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="container bootstrap snipets">
          <div class="row flow-offset-1">
            <div class="col-xs-6 col-md-4 py-1" *ngFor="let pr of products">
              <div class="card">
                <app-product-card [product]="pr"></app-product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
