<app-header></app-header>
<main class="gf-bg-main gf-main-container">
  <div style="height: 15vh"></div>
  <div class="container">
    <div style="height: 15vh;"></div>
    <app-account></app-account>
    <section class="container border">
      <h2>Информация о заказах</h2>
      <div class="row" *ngFor="let o of orders">
        <div class="col">
          <h3>Заказ №{{o.id}}, общая сумма - {{(o.commonPrice - o.stockPrice).toFixed(2)}}р</h3>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
