<div class="text-center container">
  <meta charset="utf-8">
  <div class="row">
    <div class="col-lg-12 gf-bg-cmp">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col-6 text-left">
        <h1>Admin panel</h1>
      </div>
    </div>
  </div>
  <div class="row bg-light">

    <div class="col-auto p-5">
      <a routerLink="/product/add" class="">Добавить продукт</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/stock/add" class="">Добавить акцию</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/stock/product" class="">Добавить скидку к продукту</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/catalog" class="">Редактировать каталог</a>
    </div>

  </div>
</div>
