<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.data.mappers.StocksStoresMapper">
    <insert id="addStockToStore">
        INSERT INTO stocks_stores (store_id, stock_id)
        VALUES (#{stockId}, #{storeId});
    </insert>
    <delete id="deleteStockFromStore">
        DELETE
        FROM stocks_stores
        WHERE store_id = #{storeId}
          AND stock_id = #{stockId};
    </delete>
    <select id="getStockFromStore" resultMap="app.data.mappers.StockMapper.StockResultMap">
        SELECT *
        FROM stocks_stores
        WHERE stock_id = #{stockId}
          AND store_id = #{storeId};
    </select>
    <select id="getAllStockFromStore" resultMap="app.data.mappers.StockMapper.StockResultMap">
        SELECT *
        FROM stocks_stores
        WHERE store_id = #{storeId};
    </select>
</mapper>