<main class="gf-bg-main" style="height: 100vh">
  <meta charset="utf-8">
  <div class="container">
    <div style="height: 15vh;"></div>
    <app-admin></app-admin>
    <section class="container border">
      <form class="py-2">
        <div class="form-row">
          <label>Продукт</label>
          <div class="form-group">
            <div *ngFor="let p of product" class="custom-control custom-radio" formGroupName="Stock">
              <input class="custom-control-input" type="radio" id="flexRadioDefault{{p.id}}" formControlName="id" name="id" value="{{p.id}}">
              <label class="custom-control-label" for="flexRadioDefault{{p.id}}">
                {{p.name}}
              </label>
            </div>
          </div>
          <label>Акция</label>
          <div class="form-group">
            <div *ngFor="let s of stock" class="custom-control custom-radio" formGroupName="Stock">
              <input class="custom-control-input" type="radio" id="flexRadioDefault{{s.id}}" formControlName="id" name="id" value="{{s.id}}">
              <label class="custom-control-label" for="flexRadioDefault{{s.id}}">
                {{s.type}}
              </label>
            </div>
          </div>
          <label>Магазин</label>
          <div class="form-group">
            <div *ngFor="let st of store" class="custom-control custom-radio" formGroupName="Stock">
              <input class="custom-control-input" type="radio" id="flexRadioDefault{{st.id}}" formControlName="id" name="id" value="{{st.id}}">
              <label class="custom-control-label" for="flexRadioDefault{{st.id}}">
                {{st.address}}
              </label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="count">Количество товаров</label>
            <input type="number" class="form-control" id="count" placeholder="Количество товаров">
          </div>
          <div class="form-group col-md-6">
            <label for="price">Цена</label>
            <input type="number" class="form-control" id="price" placeholder="Цена">
          </div>
          <div class="form-group">
            <label for="picture">Изображение</label>
            <input type="text" class="form-control" id="picture" placeholder="Изображение">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addStoreProduct()">Добавить</button>
        <div *ngFor="let storeProduct of storeProducts" class="row border" style="width: auto;">
          <div class="col">
            <h3>{{storeProduct.product}}</h3>
          </div>
          <div class="col">
            <h3>{{storeProduct.metadata}}</h3>
          </div>
          <div class="col">
            <h3>{{storeProduct.stockStore}}</h3>
          </div>
          <div class="col-1">
            <div class="row">
              <button type="submit" class="btn btn-primary" (click)="onDelete(storeProduct)">Удалить</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</main>
