<app-header></app-header>
<main class="bg-light" style="height: auto; min-height: 100vh">
  <div style="height: 15vh;"></div>

  <section class="py-5 text-center container ">
    <h1 class="gf-text-color-main font-weight-bold">Заказ</h1>
    <div class=""></div>
    <div class="row my-5 bg-light">


      <div class="col-4">
        <div *ngFor="let kv of cartService.cart | keyvalue" class="row">
          <div class="card w-75">
            <app-product-mini-card [product]="kv.value"></app-product-mini-card>
          </div>
        </div>
      </div>
      <div class="col-2">

      </div>
      <div class="col-6 text-left">
        <h2>Оформить заказ</h2>
        <h4>Некоторые скидки учитываются после перехода к оплате заказа</h4>
        <h4>Преварительная сумма заказа: {{cartService.price.toFixed(2)}}р</h4>
        <h4>Общая калорийность: {{cartService.calories}} ккал</h4>
        <div *ngIf="overNorm > 0">
          <h4>Внимание! Суточная норма калорий превышена на {{overNorm}} ккал</h4>
        </div>
        <div *ngIf="userControl.isUserLogin(); else elseBlock">
          <h4>Адрес доставки</h4>
          <select class="form-control" aria-label="Default select example" #t [value]="addressId" (change)="setAddress(t.value)">
            <option *ngFor="let a of addresses" [value]="a.id">{{a.address}}</option>
          </select>
          <br>
          <input routerLink="/order/pay" type="button" class="btn gf-bg-cmp" value="Перейти к оплате"
                 [disabled]="addressId == 0" (click)="toPayAction()">
        </div>
        <ng-template #elseBlock>
          <h2>Кажется, вы еще не вошли в свой аккаунт. Чтобы оформить заказ, неободимо <a routerLink="/login">войти</a>
          </h2>
        </ng-template>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>
