<div class="text-center container">
  <meta charset="utf-8">
  <div class="row">
    <div class="col-lg-12 gf-bg-cmp">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col-6 text-left">
        <h1>Name Surname</h1>
      </div>
    </div>
  </div>
  <div class="row bg-light">

    <div class="col-auto p-5">
      <a routerLink="/account/orders" class="">Мои заказы</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/account/addresses" class="">Адреса для доставки</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/account/cards" class="">Мои карты</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/account/calorie-data" class="">Мои калории</a>
    </div>

    <div class="col-auto p-5">
      <a routerLink="/account/info" class="">Мои данные</a>
    </div>

  </div>
</div>
