<main class="gf-bg-main" style="height: 100vh">
  <meta charset="utf-8">
  <div class="container">
    <div style="height: 15vh;"></div>
    <app-admin></app-admin>
    <section class="container border">
      <form class="py-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Название</label>
            <input type="text" class="form-control" id="inputName" placeholder="Название">
          </div>
          <div class="form-group col-md-6">
            <label for="type">Тип акции</label>
            <input type="text" class="form-control" id="type" placeholder="Тип акции">
          </div>
        </div>
        <div class="form-group">
          <label for="stockClause">StockClause</label>
          <input type="text" class="form-control" id="stockClause" placeholder="stockClause">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addInfo()">Добавить</button>
      </form>
    </section>
  </div>
</main>
