<div class="container position-relative">
  <div class="row">
    <div class="col">
      <img class="w-100 h-100" src="{{product.product.metadata.productFileName}}" alt="">
    </div>
    <div *ngIf="stockText !== ''" class="position-absolute gf-bg-cmp align-content-center"
         style="top: 0; left: 0; width: 30%; height: 10%; color: whitesmoke">
      {{stockText}}
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="gf-product-card-text">
        <p class="p-no-m-p">{{product.product.name}}</p>
        <p class="p-no-m-p" *ngIf="product.actualPrice == product.price; else elseBlock">{{product.price.toFixed(2)}}р</p>
        <ng-template #elseBlock>
          <p class="p-no-m-p"><del>{{product.price.toFixed(2)}}р  </del>{{product.actualPrice.toFixed(2)}}р</p>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row gf-product-card-text border border-dark ">
    <div class="col-sm wth-px">
      <button class="btn btn-light gf-product-card-text w-100 h-100 border-0" (click)="decrement()">-</button>
    </div>
    <div class="col-sm wth-px">
      <input class="form-control text-center gf-product-card-text bg-light w-100 h-100  border-0" type="number" value="{{product.count}}">
    </div>
    <div class="col-sm wth-px">
      <button class="btn btn-light gf-product-card-text w-100 h-100 bg-light border-0" (click)="increment()">+</button>
    </div>
  </div>
  <div class="row">
  <div class="col align-content-center wth-px">
    <button class="gf-product-card-text w-100 h-100 btn btn-dark" style="border-radius: 0 !important;"
            (click)="removeFromCart()">Убрать все</button>
  </div>
</div>

</div>

