<body>
<main >
  <section class="container my-5 w-25 text-center">
    <form class="form-group">
      <h1 class="h3 mb-3 fw-normal">Вход</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <a routerLink="/" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</a>
    </form>
  </section>
</main>
</body>
