<body>
<main >
  <section class="container my-5 w-25 text-center">
    <form class="form-group" [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Вход</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>

      <input class="w-100 btn btn-lg btn-primary" type="button" (click)="onSubmit()" value="Sign in"/>
    </form>
  </section>
</main>
</body>
