<main class="gf-bg-main">
  <div style="height: 15vh;"></div>
  <section class="py-5 text-center container" style="width: 98vw">
    <div class="row py-lg-5">

      <div class="col" style="width: 100%">
        <div class="" style="color: #2B6049; position: absolute;top: 8px;left: 16px;">
          <p style="width: 55%; font-size: 1.5vw; text-align: left; padding-left: 3%">
            Магазин «GoodFood» поможет вам с легкостью приобрести любимые продукты, не выходя из дома.
            Наш супермаркет с радостью поможет всем, кто тщательно следит за количеством калорий, употребляемых в сутки.
          </p >
          <p style="width: 55%; font-size: 1.5vw; text-align: left; padding-left: 3%">
            Механизм работы сайта высчитывает вашу суточную норму, и после добавления товаров в корзину выводит сообщение
            о превышении или нехватке калорий.
          </p>
        </div>
        <img alt="Cloth produce bag with vegetables"
             src="https://static.wixstatic.com/media/ad420a_f2ae964f4e3d4bb8af8b6cdda0ad86bd~mv2.jpg/v1/fill/w_1112,h_601,q_90/ad420a_f2ae964f4e3d4bb8af8b6cdda0ad86bd~mv2.jpg"
             style="width:100%;height:100%">
      </div>
    </div>
  </section>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <a routerLink="/products" class="btn-lg btn-success">К каталогу</a>
      </div>
    </div>
  </section>

  <div class="container">

  </div>
</main>
