<body class="gf-bg-main">
<app-header></app-header>
<main class="gf-bg-main" style="height: 100vh;">
  <div class="container" style="width: 100%">
    <div style="height: 15vh;"></div>
    <app-account></app-account>
    <div class="container border" style="width: 100%;">
      <div class="row">
        <div class="col">
          <h2 class="py-lg-5">Сохраненные адреса</h2></div>
        <div class="col">
          <button class="btn btn-lg btn-outline-primary my-lg-5" (click)="open(content)">Довавить новый адрес</button>
        </div>
      </div>
      <div *ngFor="let addr of addresses" class="row border" style="width: auto;">
        <div class="col">
          <h3>Адрес: {{addr.address}}</h3>
        </div>
        <div class="col-1">
          <div class="row">
            <button class="w-100 h-50" (click)="onUpdateOpen(addr); open(content);">Изменить</button>
            <button class="w-100 h-50" (click)="onDelete(addr)">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="addressInput" class="form-label">Address</label>
            <input type="text" class="form-control" id="addressInput" [value]="addressFormValue.address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close();addAddress()">Добавить/Изменить</button>
      </div>
    </ng-template>
  </div>
</main>
<app-footer></app-footer>
</body>
