<nav class="navbar navbar-expand-md fixed-top gf-bg-main" style="height: 15vh;">

  <div class="container" id="navbarSupportedContent">
    <a routerLink="/" class="nav-link"><h2>GoodFood</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-5 mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Главная <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/article">Правильное питание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Товары</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Акции</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img
              src="https://w7.pngwing.com/pngs/944/770/png-transparent-computer-icons-login-google-account-internet-user-thumbnail.png"
              alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngIf="userControl.isUserLogin(); else elseBlock">
              <a class="dropdown-item" routerLink="/account/orders">Мои заказы</a>
              <a class="dropdown-item" routerLink="/account/addresses">Мои адреса</a>
              <a class="dropdown-item" routerLink="/account/cards">Мои карты</a>
              <a class="dropdown-item" routerLink="/account/calorie-data">Мои калории</a>
              <a class="dropdown-item" routerLink="/account/info">Мои данные</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
            <ng-template #elseBlock >
              <div>
                <a class="dropdown-item" routerLink="/login">Log in</a>
              </div>
            </ng-template>
          </div>
        </li>
        <li class="nav-item">
          <div id="mySidepanel" class="sidepanel border">
            <div class="row text-light" style="height: 7%; font-weight: 300;">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&gt;</a>
              <a style="margin-left: 30%">
                Корзина
              </a>
            </div>
            <div class="row bg-light ml-1" style="height: 93%">
              <app-cart></app-cart>
            </div>
          </div>
          <a class="openbtn" (click)="cartService.loadCartAction()" onclick="openNav()">
            <img src="assets/icons/shopping-cart.svg" alt=""  style="width: 50px; height: 50px">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

